<div class="">
  <h5>These are all the dogs that are in our park right now: {{userCount}}</h5>

  <table>
    <thead style="border-bottom: 1px solid rgba(0,0,0,0.12)">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of $users | async">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
      </tr>
    </tbody>
  </table>
</div>

  <p>Add a new one!
    <button class="waves-effect waves-light btn" routerLink="/add"> Add
    </button>
  </p>